<h1> <%= @the_user.username %> </h1> 

<dl>

<dt>ID </dt>
<dd>  <%= @the_user.id %> </dd>

<dt>Edit user </dt>
<dd>form goes here Update user </dd>

</dl>

<h2> Own photos (<%= @the_user.own_photos %> ) </h2>
<table border= "1">
</table>